*{
    color: rgba(0, 179, 255, 0.815);
    font-weight: bold;
    background-color: #000000;
}
.heading {
    text-align: center;
    font-size: 24px;
    color: #1c03fd;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}

.javascript {
    margin: 0 auto;
    width: 60%;
}

/* Styling for the question label */
.question {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.jsFiles {
    width: 100%;
    margin: 0 auto;
}

.jsFiles select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.jsFiles option {
    padding: 10px;
    font-size: 16px;
}

.difficulty {
    color: black;
}

.difficulty.easy {
    color: green;
}

.difficulty.intermediate {
    color: orange;
}

.difficulty.hard {
    color: red;
}

.answer {
    display: none;
    position: relative;
}

.code {
    color: red;
    position: relative;
}

.copyButton {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    margin-bottom: 10px;
    background-color: #bcd2bc;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.copyButton:hover {
    background-color: #45a049;
}

/* Styling for the question title */
#question {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Styling for the output */
#output {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Styling for the answer code button */
.answercode {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.answercode:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

/* Styling for the code block */
#code {
    font-size: 16px;
    background-color: #000;
    color: #ff0101;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 20px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 468px) {
    .javascript {
        margin: 0 auto;
        width: 90%;
    }
    .heading {
        font-size: 20px;
    }
    .jsFiles select {
        font-size: 14px;
    }
    .answercode {
        font-size: 14px;
    }
    #code {
        font-size: 14;
    }}